<div class="modal-header">
    <h3 class="modal-title">Purchase <%= name %></h3>
</div>
<div class="modal-body clearfix">
    <form name="form" class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="name" class="control-label col-sm-2 col-sm-offset-1">Full Name</label>
            <div class="col-sm-8">
                <input type="text" name="name" class="form-control" placeholder="Required" required/>
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="control-label col-sm-3">E-mail Address</label>
            <div class="col-sm-8">
                <input type="email" name="email" class="form-control" placeholder="Required" required/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Card Number</label>
            <div class="col-sm-8">
                <input type="text" maxlength="20" name="card" autocomplete="off" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">CVC</label>
            <div class="col-sm-8">
                <input type="text" maxlength="4" name="cvc" autocomplete="off" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Expiry Date</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="expiry" required />
            </div>
        </div>
        <button type="submit" class="btn btn-primary pull-left">Buy for $<%= price %></button>
        <div class="loading pull-left" style="display:none"></div>
        <div class="message pull-left"></div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning">Cancel</button>
</div>