<article class="product clearfix">
    <div class="col-lg-6">
        <img class="img-thumbnail" src="<%= image %>" />
    </div>
    <div class="col-lg-6">
        <h1><%= name %></h1>
        <h4 class="mfg">by <%= mfg %></h4>
        <div class="description"><%= desc %></div>

        <button type="button" class="btn btn-primary">Buy Now $<%= price %></button>
    </div>
</article>
<section class="col-lg-8 reviews"></section>