
<h2>Product Reviews</h2>
<a class="showForm" href="#">Bought the product? Leave a review</a>
<div class="review-form clearfix">
    <form>
        <div class="row">
            <div class="form-group col-lg-6 clearfix">
                <label for="name">Your Name</label>
                <input type="text" class="form-control" id="name" name="full_name" placeholder="Name">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6 clearfix">
                <label>Your Rating</label><br />
                <input type="number" class="form-control rating" id="rating" name="rating" placeholder="Rating 1-5" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12">
                <label for="comment">Anything to Say?</label>
                <textarea class="form-control" rows="3" name="comment" placeholder="Comment"></textarea>
            </div>
        </div>
      <button type="submit" class="btn btn-primary pull-right">Submit</button>
    </form>
</div>
<div class="review-list"></div>