{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Product API</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'core/css/libs/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'core/css/libs/star-rating.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'core/css/main.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#/">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
      </div>

      <div class="row marketing" id="container"></div>

      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>

    </div> <!-- /container -->

    <script id="productList" type="text/template">
        <div class="col-lg-6 product-list"></div>
    </script>
    <script id="productListItem" type="text/template">
        <h4><a href="#/p/<%= product_id %>"><%= name %></a></h4>
    </script>
    <script id="product" type="text/template">
        {% include 'core/backbone/product-detail.html' %}
    </script>
    <script id="reviews" type="text/template">
        {% include 'core/backbone/reviews.html' %}
    </script>
    <script id="review" type="text/template">
        <article class="review">
            <div class="name"><%= full_name %></div>
            <input type="number" readonly class="rating" value="<%= rating %>" />
            <p class="comment"><%= comment %></p>
        </article>
    </script>
    <script id="paymentForm" type="text/template">
        {% include 'core/backbone/paymentform.html' %}
    </script>


    <script type="text/javascript" src="{% static 'core/js/libs/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/libs/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/libs/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/libs/backbone-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/libs/star-rating.min.js' %}"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <script type="text/javascript" src="{% static 'core/js/models/productlist.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/models/product.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/models/review.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/models/order.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/collections/productlist.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/collections/reviews.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/views/productlist.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/views/productlistitem.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/views/product.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/views/reviewlist.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/views/review.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/views/paymentmodal.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/app.js' %}"></script>

    <script>
        Stripe.setPublishableKey('{{ stripe_publishable_key }}');
    </script>
  </body>
</html>
